.caja{

    width: 400px;
    padding: 50px;
    text-align: center;
    background-color: burlywood;
    margin: 50px auto;
  
}

/*Se activa a los 600px*/


@media(max-width:800px) {

    .caja{

        background-color: rgb(230, 74, 74);
         width: 200px;
    }
    
}

  @media (max-width:600px) {

      .caja{
        width: 100px;
        background-color: beige;
        color: brown;
      }
    
}


        
    

